aiohttp==3.10.11
celery==5.2.7
elasticsearch==7.17.3
loguru
PyExecJS
requests
pymongo
argparse
tqdm
httpx
Js2Py
watchdog
tldextract
lxml
beautifulsoup4
pytz
chardet
tenacity
parsel
# ronglian-sms-sdk
-e .
# Add other dependencies here
